<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cat information database</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/floating-labels.css">
    <script>
        function look_up_username() {
            username = document.getElementById("username").value
            document.location.href = "http://localhost:5000/get_user/" + username
        }
    </script>
  </head>
  <body>
    <form class="form-signin">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Cat information database</h1>
        <p>Enter a name below to get information about that user.</p>
      </div>

      <div class="form-label-group">
        <p>Name</p>
        <input type="username" id="username" class="form-control" placeholder="" required autofocus>
      </div>

      <a class="btn btn-lg btn-primary btn-block" style="height:2.5em;" onClick="look_up_username()">Search</button>
      <p class="mt-5 mb-3 text-muted text-center">Steakscorp Labs &copy; 2017-2018</p>

      {% if user_info %}
      <div class="text-center mb-4">
        <p>{{ user_info }}</p>
      </div>
      {% endif %}
    </form>
  </body>
</html>
